*{
  box-sizing: border-box;
}
header{
  /* Add height and width here */
  background-color: lightcyan;
  text-align: center;
  width:100vw;
  height:17vh;
}

.middle-section{
  /* Add height and width here */
  height:70vh;
  width:100vw;
  /* Add flex properties here */
  display:flex;
  justify-content:flex-start;

  

}

aside{
  /* Add height and width here */
  background-color: lightseagreen;
  height:70vh;
  width:20vw;
  display:fle;
  flex:;
}

.image-section{
  /* Add height and width here */
  background-color: aliceblue;
  height:10vh;
  width:35vw;


  /* Add flex properties here */
  display:flex;
  text-align:left;
  flex-direction: column;
  flex:;
  
  
}

footer{
  /* Add height and width here */
  background-color: lime;
  width:100vw;
  height:20vh;
  display:flex;
  align-items:flex-start;




}